<div class="container text-center">
    <img src="/images/beer.png" alt="" width="500">
   <div class="row">
      <div class="row">
         <div class="card" style="width: 18rem;">
            
            <div class="card-body">
               <a href="/beers">Check the Beers!</a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="card" style="width: 18rem;">
         <div class="card-body">
               <a href="/random-beer">Check a Random Beer!</a>
            </div>
         </div>
      </div>
   </div>
</div>